<template>
	<div>
		<div class="rwmsPageMenu">
			<!-- <button
				class="rwmsPageMenuButton"
				@click="createProject()"
			>Создать</button> -->
			<button
				class="rwmsPageMenuButton"
				@click="startProject()"
				v-if="project.processStatus === 'NotStarted'"
			>Запустить</button>
		</div>
		<h1>Сведения о проекте</h1>
		<div class="complexContent">
			<p class="headerTitle">Тема: {{project.theme}}</p>
			<p>Тип: {{project.processName}}</p>
			<p>Описание: {{project.processDescription}}</p>
			<p>Статус: {{project.processStatus}}</p>
		</div>

		<div id="interactive">
			<vue-mermaid
				class="processViewer"
				:nodes="mermaidData"
				v-on:nodeClick="editNode"
				v-bind:config="mermaidConfig"
				type="graph TD"
			></vue-mermaid>
			<div class="rwmsBorderedBig processConfig">
				<p><b>{{clickedStage.stageType}}</b></p>
				<p>Название: {{clickedStage.stageName}}</p>
				<p>Описание: {{clickedStage.stageDescription}}</p>
				<p>Статус: {{clickedStage.stageState}}</p>
				<p>Срок выполнения: {{clickedStage.dueDate}}</p>
				<hr>
				<button
					class="rwmsButton"
					v-if="clickedStage.stageState === 'InProgress'"
					@click="checkNextStageAlternativesAndCompleteIfNo(clickedStage.stageId)"
				>Выполнить</button>
				<br>
				<ol v-if="nextStageAlternatives.length != 0">
					<li
						v-for="stage in nextStageAlternatives"
						:key="stage"
					><a @click="completeStage(clickedStage.stageId, stage.stageId)">{{stage.stageName}}</a></li>
				</ol>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import axios from "axios";

@Component({
	components: {
	}
})
export default class Distribution extends Vue {
	project: Project = new Project
	mermaidData: MermaidNode[] = []
	mermaidConfig = {
		theme: "neutral",
		startOnLoad: !1,
		securityLevel: 'loose'
	}
	clickedStage: Stage = {
		stageId: -1,
		stageName: " ",
		stageDescription: "",
		stageState: "",
		stageType: "",
		dueDate: ""
	}
	mermaidStyles: { [id: string]: MermaidStyle } = {
		"Open": new MermaidStyle("#00BFFF", "#333", "2px"),
		"InProgress": new MermaidStyle("#FFD700", "#333", "2px"),
		"Done": new MermaidStyle("#FF0000", "#333", "2px"),
		"Closed": new MermaidStyle("#4682B4", "#333", "2px")
	}
	nextStageAlternatives: Stage[] = []

	getProject(id: number): void {
		axios.get('http://192.168.43.139:8081/Project/GetProject/' + id)
			.then(response => {
				console.log(response)
				this.project = response.data as Project
				if (this.mermaidData.length == 0) {
					this.createMermaidData()
				}
				this.updateMermaidStyles()
				let stage: Stage
				if (this.project.processStatus === "Started") {
                    stage = this.project.stages!.find(s => s.stageState === "InProgress")!
				}
				else {
					stage = this.project.stages!.find(s => s.stageName === "Начальное событие")!
				}
				this.clickedStage = stage
				this.editNode(stage.stageId)
			})
	}

	startProject() {
		axios.put('http://192.168.43.139:8081/Project/Start/' + this.project.projectId)
			.then(response => {
				console.log(response)
				this.getProject(this.project.projectId)
			})
	}

	createMermaidData() {
		for (let stage of this.project.stages!) {
			let node: MermaidNode = {
				id: stage.stageId.toString(),
				text: stage.stageName,
				edgeType: "round",
				link: "-->",
				editable: true,
				style: ""
			}
			if (stage.nextStageIds) {
				node.next = stage.nextStageIds.map(function (obj: number) { return obj.toString() })
			}
			this.mermaidData.push(node)
		}
	}

	updateMermaidStyles() {
		for (let node of this.mermaidData) {
			let stage = this.project.stages!.find(s => s.stageId.toString() === node.id)!
			node.style = this.mermaidStyles[stage.stageState].toMermaidString()
		}
	}

	editNode(node: number) {
		console.log("---EDITNODE---\nSTART")
		let stage = this.project.stages!.find(function (s: Stage) {
			return s.stageId == node
		})
		if (stage) {
			console.log(this.mermaidStyles[this.clickedStage.stageState].toMermaidString())
			this.mermaidData.find(obj => obj.id === this.clickedStage.stageId.toString())!.style = this.mermaidStyles[this.clickedStage.stageState].toMermaidString()
			console.log(this.mermaidData.find(obj => obj.id === this.clickedStage.stageId.toString())!.style)
			this.clickedStage = stage
			let activeStyle = this.mermaidStyles[stage.stageState]
			activeStyle.strokeWidth = "4px"
			this.mermaidData.find(obj => obj.id === stage!.stageId.toString())!.style = activeStyle.toMermaidString()
			activeStyle.strokeWidth = "2px"
		}
		console.log("END\n---EDITNODE---")
	}

	checkNextStageAlternativesAndCompleteIfNo(id: number) {
		let stage = this.project.stages!.find(obj => obj.stageId == id)!
		let events: Stage[] = []
		stage.nextStageIds!.forEach(nextId => {
            let next = this.project.stages!.find(obj => obj.stageId == nextId)!
            events.push(next)
		});
		if (events.length > 1) {
			this.nextStageAlternatives = events
			return
		}
		this.completeStage(id, -1)
	}

	completeStage(operationId: number, eventId: number) {
		axios.put('http://192.168.43.139:8081/Project/CompleteOperationWithEvent/' + this.project.projectId + "/" + operationId + "/" + eventId)
			.then(response => {
				console.log(response)
				this.nextStageAlternatives = []
				this.getProject(this.project.projectId)
			})
	}

	constructor() {
		super()
		this.getProject(1)
	}
}

class MermaidStyle {
	fill: string = ""
	stroke: string = ""
	strokeWidth: string = ""
	constructor(fill: string, stroke: string, strokeWidth: string) {
		this.fill = fill
		this.stroke = stroke
		this.strokeWidth = strokeWidth
	}
	toMermaidString(): string {
		return "fill:" + this.fill + ",stroke:" + this.stroke + ",stroke-width:" + this.strokeWidth;
	}
}

class MermaidNode {
	id: string = ""
	text: string = ""
	next?: string[]
	edgeType?: string
	link?: string
	editable?: boolean
	style: string = ""
}

class Project {
	projectId: number = -1
	theme: string = ""
	parentProjectId?: number
	projectType: string = ""

	processId: number = -1
	processName?: string
	processDescription?: string
	processStatus?: string
	firstStageId?: number
	stages?: Stage[]
	responsibilities?: Responsibility[]
}

class Stage {
	stageId: number = -1
	stageName: string = ""
	stageDescription: string = ""
	stageState: string = ""
	dueDate: string = ""

	stageType: string = ""

	occured?: boolean
	eventType?: string = ""

	arguments?: Artifact[]
	results?: Artifact[]

	gateId?: number = -1
	gateLogicalType?: string = ""
	gateType?: string = ""
	previousStageIds?: number[]
	nextStageIds?: number[]
}

class Artifact {
	artifactId: number = -1
	artifactName: string = ""
	artifactDescription: string = ""
	artifactType: string = ""
}

class Responsibility {
	responsibilityId: number = -1
	operationId: number = -1
	assigneeId: number = -1
	assigneeName: string = ""
	assigneeDescription: string = ""
	assigneeRole: string = ""
	assigneeGroup: string = ""
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#interactive {
	height: 1000px;
}
.processViewer {
	float: left;
	min-width: 60%;
}
.processConfig {
	float: right;
	border-width: 2px;
	border-radius: 10px;
	border-style: solid;
	min-width: 30%;
	padding: 3px;
}
a {
	color: #3333ff;
	font-family: helvetica;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

a:active {
	color: black;
}
</style>
