<template>
	<div>
		<p>THIS IS PZ page</p>
		<label>Group</label>
		<input v-model="group">
		<label>Name</label>
		<input v-model="name">
		<button @click="getResults">Give results!</button>
		<ul>
			<li
				v-for="result in results"
				:key="result"
			>{{result}}</li>
		</ul>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';

@Component
export default class PZ extends Vue {
	results: string[] = []
	name: string = ""
	group: string = ""

	getResults(): void {
		console.log("some")
		axios.get('http://192.168.43.139:8081/Project/GetProjectThemesOfPerson/' + this.group + '/' + this.name)
			.then(response => {
				this.results = response.data as string[]
				console.log(response)
			})
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
