<template>
	<div>
		<div id="saveMenu">
			<button
				@click="getFromServer(document.id)"
				class="saveMenuButton"
			>Введите id</button>
			<input
				v-model="document.id"
				class="saveMenuArea"
			>
			<button
				@click="sendOnServer"
				class="saveMenuButton"
			>Сохранить всё</button>
		</div>
		<div class="complexContent">
			<div class="docHeader">
				<div class="headerContainer">
					<p class="headerTitle">Тема</p>
					<div
						class="headerButtons"
						align="right"
					>
						<button
							class="headerButton"
							@click="editorShow(document, 'theme')"
						>Изменить</button>
						<button
							class="headerButton"
							@click="previewShow(document, 'theme')"
						>Посмотреть</button>

					</div>
				</div>
				<JqxInput
					class="headerEditor"
					v-if="document.editableTheme === true"
					:width="1000"
					:height="45"
					:placeHolder="'Введите тему'"
					v-model="document.theme"
				></JqxInput>
				<p
					v-if="document.editableTheme === false"
					class="headerPreview"
				>{{document.theme}}</p>
			</div>
			<hr>
			<div class="docContent">
				<div class="headerContainer">
					<p class="headerTitle">Реферат</p>
					<div
						class="headerButtons"
						align="right"
					>
						<button
							class="headerButton"
							@click="editorShow(document, 'essay')"
						>Изменить</button>
						<button
							class="headerButton"
							@click="previewShow(document, 'essay')"
						>Посмотреть</button>
					</div>
				</div>
				<Editor
					class="contentEditor"
					height="300px"
					width="1000px"
					v-if="document.editableEssay === true"
					:content="document.essay"
					:options="{ enableBasicAutocompletion: true, enableSnippets: true, enableLiveAutocompletion: true, tabSize: 4 }"
					:fontSize='14'
					:lang="'markdown'"
					:theme="'xcode'"
					@init="editorInit"
					@onBlur="editorBlur"
				>
				</Editor>
				<vue-markdown v-if="document.editableEssay === false">{{document.essay}}</vue-markdown>
			</div>
			<hr>
			<div class="docContent">
				<div class="headerContainer">
					<p class="headerTitle">Введение</p>
					<div
						class="headerButtons"
						align="right"
					>
						<button
							class="headerButton"
							@click="editorShow(document, 'introduction')"
						>Изменить</button>
						<button
							class="headerButton"
							@click="previewShow(document, 'introduction')"
						>Посмотреть</button>

					</div>
				</div>
				<Editor
					class="contentEditor"
					height="300px"
					width="1000px"
					v-if="document.editableIntroduction === true"
					v-model="document.introduction"
					:options="{ enableBasicAutocompletion: true, enableSnippets: true, enableLiveAutocompletion: true, tabSize: 4 }"
					:fontSize='14'
					:lang="'markdown'"
					:theme="'xcode'"
					@init="editorInit"
					@onBlur="editorBlur"
				>
				</Editor>
				<vue-markdown v-if="document.editableIntroduction === false">{{document.introduction}}</vue-markdown>
			</div>
		</div>
		<div
			class="complexContent"
			v-for="chapter in document.chapters"
			:key="chapter"
		>
			<div class="docHeader">
				<div class="headerContainer">
					<p class="headerTitle">Заголовок раздела</p>
					<div
						class="headerButtons"
						align="right"
					>
						<button
							class="headerButton"
							@click="editorShow(chapter, 'header')"
						>Изменить</button>
						<button
							class="headerButton"
							@click="previewShow(chapter, 'header')"
						>Посмотреть</button>

					</div>
				</div>
				<JqxInput
					class="headerEditor"
					v-if="chapter.editableHeader === true"
					:width="1000"
					:height="45"
					:placeHolder="'Заголовок раздела'"
					v-model="chapter.header"
				></JqxInput>
				<p
					v-if="chapter.editableHeader === false"
					class="headerPreview"
				>{{chapter.header}}</p>
			</div>
			<hr>
			<div class="docContent">
				<div class="headerContainer">
					<p class="headerTitle">Аннотация</p>
					<div
						class="headerButtons"
						align="right"
					>
						<button
							class="headerButton"
							@click="editorShow()"
						>Изменить</button>
						<button
							class="headerButton"
							@click="previewShow()"
						>Посмотреть</button>
					</div>
				</div>
				<Editor
					class="contentEditor"
					height="200px"
					width="1000px"
					:content="chapter.annotation"
					:options="{ enableBasicAutocompletion: true, enableSnippets: true, enableLiveAutocompletion: true, tabSize: 4 }"
					:fontSize='14'
					:lang="'markdown'"
					:theme="'xcode'"
					@init="editorInit"
				>
				</Editor>
			</div>
			<hr>
			<div
				class="smallify"
				v-for="section in chapter.sections"
				:key="section.header"
			>
				<hr>
				<div class="docHeader">
					<div class="headerContainer">
						<p class="headerTitle">Заголовок подраздела</p>
						<div
							class="headerButtons"
							align="right"
						>
							<button
								class="headerButton"
								@click="editorShow(section, 'header')"
							>Изменить</button>
							<button
								class="headerButton"
								@click="previewShow(section, 'header')"
							>Посмотреть</button>

						</div>
					</div>
					<JqxInput
						class="headerEditor"
						v-if="section.editableHeader === true"
						:width="900"
						:height="45"
						:placeHolder="'Заголовок подраздела'"
						v-model="section.header"
					></JqxInput>
					<p
						v-if="section.editableHeader === false"
						class="headerPreview"
					>{{section.header}}</p>
				</div>
				<hr>
				<div class="docContent">
					<div class="headerContainer">
						<p class="headerTitle">Аннотация</p>
						<div
							class="headerButtons"
							align="right"
						>
							<button
								class="headerButton"
								@click="editorShow()"
							>Изменить</button>
							<button
								class="headerButton"
								@click="previewShow()"
							>Посмотреть</button>

						</div>
					</div>
					<Editor
						class="contentEditor"
						height="100px"
						width="900px"
						:content="section.annotation"
						:options="{ enableBasicAutocompletion: true, enableSnippets: true, enableLiveAutocompletion: true, tabSize: 4 }"
						:fontSize='14'
						:lang="'markdown'"
						:theme="'xcode'"
						@init="editorInit"
					>
					</Editor>
				</div>
				<hr>
				<div class="docContent">
					<div class="headerContainer">
						<p class="headerTitle">Контент</p>
						<div
							class="headerButtons"
							align="right"
						>
							<button
								class="headerButton"
								@click="editorShow()"
							>Изменить</button>
							<button
								class="headerButton"
								@click="previewShow()"
							>Посмотреть</button>

						</div>
					</div>
					<Editor
						class="contentEditor"
						height="300px"
						width="900px"
						:content="section.content"
						:options="{ enableBasicAutocompletion: true, enableSnippets: true, enableLiveAutocompletion: true, tabSize: 4 }"
						:fontSize='14'
						:lang="'markdown'"
						:theme="'xcode'"
						@init="editorInit"
					>
					</Editor>
				</div>
				<hr>
			</div>
		</div>
		<div class="complexContent">
			<div class="docContent">
				<div class="headerContainer">
					<p class="headerTitle">Заключение</p>
					<div
						class="headerButtons"
						align="right"
					>
						<button
							class="headerButton"
							@click="editorShow(document, 'conclusion')"
						>Изменить</button>
						<button
							class="headerButton"
							@click="previewShow(document, 'conclusion')"
						>Посмотреть</button>

					</div>
				</div>
				<Editor
					class="contentEditor"
					height="300px"
					width="1000px"
					v-if="document.editableConclusion === true"
					v-model="document.conclusion"
					:content="document.conclusion"
					:options="{ enableBasicAutocompletion: true, enableSnippets: true, enableLiveAutocompletion: true, tabSize: 4 }"
					:fontSize='14'
					:lang="'markdown'"
					:theme="'xcode'"
					@init="editorInit"
					@onBlur="editorBlur"
				>
				</Editor>
				<vue-markdown
					v-if="document.editableConclusion === false"
					v-model="document.conclusion"
				>{{document.conclusion}}</vue-markdown>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import axios from "axios";
import JqxInput from "jqwidgets-scripts/jqwidgets-vue/vue_jqxinput.vue";
import Editor from "vue2x-ace-editor";

class RSPZdoc {
	id: number = 0
	theme: string = ""
	introduction: string = ""
	essay: string = ""
	conclusion: string = ""
	literature: string = ""
	chapters: Chapter[] = []
	editableTheme: boolean = false
	editableIntroduction: boolean = false
	editableEssay: boolean = false
	editableConclusion: boolean = false
	editableLiterature: boolean = false
}

class Chapter {
	header: string = ""
	editableHeader: boolean = false
	annotation: string = ""
	editableAnnotation: boolean = false
	sections: Section[] = []
}

class Section {
	header: string = ""
	editableHeader: boolean = false
	annotation: string = ""
	editableAnnotation: boolean = false
	content: string = ""
	editableContent: boolean = false
}

@Component(
	{
		components: {
			JqxInput,
			Editor
		}
	}
)
export default class RSPZ extends Vue {
	document: RSPZdoc =
		{
			id: 12,
			theme: "Разработка мдуля формирования и учета РСПЗ и ПЗ для системы управления НИР",
			editableTheme: false,
			essay: "1212342q3414523453453",
			editableEssay: false,
			introduction: "davfvsdfvdsfvdsfvdsf",
			editableIntroduction: false,
			conclusion: "",
			editableConclusion: false,
			literature: "",
			editableLiterature: false,
			chapters: [
				{
					header: "Первый раздел",
					editableHeader: false,
					annotation: "",
					editableAnnotation: false,
					sections: [
						{
							header: "",
							annotation: "",
							content: "",
							editableHeader: false,
							editableAnnotation: false,
							editableContent: false,
						},
						{
							header: "Вторая секция иллюзорна",
							annotation: "Аннотация необходима",
							content: "мамавмваы\nмавты",
							editableHeader: false,
							editableAnnotation: false,
							editableContent: false,
						},
					]
				},
				{
					header: "Второй раздел неподражаем 2222",
					editableHeader: false,
					annotation: "Аннотация бесценна 2222",
					editableAnnotation: false,
					sections: [
						{
							header: "Первая секция великолепна 2222",
							annotation: "Эта аннотация к подразделу определённо нужна 2222",
							content: "конектмраломиыфпрллвмРПОМВЛПЫЛМФВРОЛМФЫ2222РВМОРИФЫВЛПФРВЫ",
							editableHeader: false,
							editableAnnotation: false,
							editableContent: false,
						},
						{
							header: "Вторая секция иллюзорна 2222",
							annotation: "Аннотация необходима 2222",
							content: "мамавмваы\nмавты2222",
							editableHeader: false,
							editableAnnotation: false,
							editableContent: false,
						},
					]
				},
			]
		}

	constructor() {
		super()
		this.getFromServer(11)
	}

	editorInit() {
		require("brace/ext/language_tools");
		require("brace/mode/markdown");
		require("brace/snippets/markdown");
		require("brace/theme/xcode");
	}

	// TODO refactor copy paste BEGIN

	editorBlur(editor: any, place: any) {
		console.log(editor)
		console.log(place)
		place = editor.getValue()
	}

	// TODO refactor copy paste END

	getFromServer(id: number) {
		axios.get("http://192.168.43.139:8081/RSPZs/Get/" + id)
			.then(response => {
				console.log(response)
				var data = response.data
				var doc: RSPZdoc = new RSPZdoc
				doc.id = data.id
				doc.theme = data.theme
				doc.introduction = data.introduction
				doc.essay = data.essay
				doc.conclusion = data.conclusion
				doc.literature = data.literature
				for (var i = 0; i < data.chapters.length; i++) {
					var anyChapter = data.chapters[i]
					console.log(anyChapter)
					var chapter = new Chapter
					chapter.header = anyChapter.header
					chapter.annotation = anyChapter.annotation
					for (var j = 0; j < anyChapter.sections.length; j++) {
						var anySection = anyChapter.sections[j]
						var section = new Section
						section.header = anySection.header
						section.annotation = anySection.annotation
						section.content = anySection.content
						chapter.sections.push(section)
					}
					doc.chapters.push(chapter)
				}
				this.document = doc
			}
			)
	}

	sendOnServer() {
		axios.put("http://192.168.43.139:8081/RSPZs/Update", this.document)
			.then(response => console.log(response))
	}

	editorShow(obj: any, place: string) {
		if (place === 'theme') {
			obj.editableTheme = true
		}
		if (place === 'header') {
			obj.editableHeader = true
		}
		if (place === 'introduction') {
			obj.editableIntroduction = true
		}
		if (place === 'essay') {
			obj.editableEssay = true
		}
		if (place === 'conclusion') {
			obj.editableConclusion = true
		}
		if (place === 'literature') {
			obj.editableLiterature = true
		}
	}

	previewShow(obj: any, place: string) {
		if (place === 'theme') {
			obj.editableTheme = false
		}
		if (place === 'header') {
			obj.editableHeader = false
		}
		if (place === 'introduction') {
			obj.editableIntroduction = false
		}
		if (place === 'essay') {
			obj.editableEssay = false
		}
		if (place === 'conclusion') {
			obj.editableConclusion = false
		}
		if (place === 'literature') {
			obj.editableLiterature = false
		}
	}

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.docHeader {
	width: inherit;
	border-radius: 10px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(230, 230, 230);
}
.headerContainer {
	display: grid;
	grid-template-areas:
		"headerTitle headerButtons"
		"headerEditor headerPreview";
}
.headerTitle {
	font-size: 16pt;
	font-weight: bold;
}
.headerButtons {
	margin-top: auto;
	margin-bottom: auto;
}
.headerButton {
	margin: 2px;
	font-size: 12px;
	width: 100px;
	height: 35px;
}
#saveMenu {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.saveMenuButton {
	margin: 2px;
	font-size: 12px;
	width: 10%;
	height: 35px;
}
.saveMenuArea {
	margin: 2px;
	font-size: 12px;
	width: 75%;
	height: 35px;
}
.headerEditor {
}
.headerPreview {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 14pt;
}

.docContent {
	width: inherit;
	border-radius: 10px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(230, 230, 230);
}
.contentEditor {
}
.complexContent {
	border-width: 1px;
	border-style: solid;
	width: 1000px;
	border-width: 2px;
	border-radius: 10px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(200, 200, 200);
	margin-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.smallify {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
</style>
