<template>
	<div>
		<button
			class="rwmsPageMenuButton"
			@click="toggleTable()"
		>
			Показать/скрыть список всех заданий
		</button>
		<button
			@click="createNewTask()"
			class="rwmsPageMenuButton"
		>Создать новое задание</button>
		<div
			v-if="isTableShowing == true"
			align="center"
		>
			<table border="2px">
				<thead>
					<tr>
						<th>Тема</th>
						<th>Студент</th>
						<th>Науч.руководитель</th>
						<th>Дата создания</th>
						<th>Действие</th>
					</tr>
				</thead>
				<tbody>
					<tr
						v-for="info in taskMiniInfos"
						:key="info"
					>
						<th>{{info.theme}}</th>
						<th>{{info.studentName}}</th>
						<th>{{info.teacherName}}</th>
						<th>{{info.date}}</th>
						<th>
							<button @click="getTask(info.id)">Открыть</button>
							<br>
							<button @click="removeTask(info.id)">Удалить</button>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
		<div v-if="isTaskLoaded == true">
			<h1>Задание</h1>
			<p>Студент: <input
					class="rwmsLineEditor"
					v-model="task.studentName"
				></p>
			<p>Группа: <input
					class="rwmsLineEditor"
					v-model="task.group"
				></p>
			<div align="left">
				<button
					class="rwmsButton"
					@click="save()"
				>Сохранить</button>
			</div>
			<div class="complexContent">
				<p class="headerTitle">Тема</p>
				<input
					class="rwmsHeaderEditor"
					v-model="task.theme"
				>
			</div>

			<div
				v-for="chapter in task.chapters"
				:key="chapter"
				class="complexContent"
			>
				<p class="headerTitle">Заголовок раздела {{chapter.position}}.</p>
				<input
					class="rwmsHeaderEditor"
					v-model="chapter.name"
				>
				<div
					v-for="section in chapter.sections"
					:key="section"
					class="rwmsBorderedBig"
				>
					<p class="headerTitle">Заголовок подраздела {{section.position}}.</p>
					<textarea
						class="rwmsDefaultTextEditor"
						v-model="section.name"
					/>
					<input class="rwmsLineEditor" v-model="section.date">
				<input class="rwmsLineEditor" v-model="section.reportTypes">
				<hr>
				<button class="rwmsButton" @click="removeSection(chapter, section)">Удалить подраздел</button>
			</div>
			<hr>
			<button class="rwmsButton" @click="addSection(chapter)">Добавить подраздел</button>
			<button class="rwmsButton" @click="removeChapter(chapter)">Удалить раздел</button>
		    </div>
		    <div class="complexContent">
			    <button class="rwmsButton" @click="addChapter(task)">Добавить раздел</button>
		    </div>

            <div class="complexContent">
                <p class="headerTitle">Список литературы</p>
                <div class="rwmsBorderedBig" v-for="book in task.books" :key="book">
                    <input class="rwmsLineEditor" v-model="book.name">
                    <textarea class="rwmsDefaultTextEditor" v-model="book.description"/>
                    <hr>
				    <button class="rwmsButton" @click="removeBook(book)">Удалить книгу</button>
                </div>
                <hr>
                <button class="rwmsButton" @click="addBook()">Добавить книгу</button>
            </div>

		    <p>Дата выдачи: <input class="rwmsLineEditor" v-model="task.date"></p>
		    <p>Научный руководитель: <input class="rwmsLineEditor" v-model="task.teacherName"></p>
		    <div align="left">
			    <button class="rwmsButton" @click="save()">Сохранить</button>
		    </div>

		    <p>Список версий:</p>
		    <ol>
			<li v-for="version in versions" :key="version">
				<a @click="getTask(version.id)"><p>{{makeDatePretty(version.createdDate)}}</p></a>
			</li>
		    </ol>
        </div>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';

@Component({
	components: {

	}
})
export default class Task extends Vue {
	task: TaskData = new TaskData
	versions: TaskData[] = []
	isTableShowing = false
	taskMiniInfos: TaskMini[] = []
    isTaskLoaded = false

	getTask(id: number) {
		axios.get('http://192.168.43.139:8081/Task/Get/' + id)
			.then(response => {
				console.log(response)
				this.task = response.data as TaskData
				console.log(this.task)
				this.updateEnumeration()
                this.getVersions()
                this.isTaskLoaded = true
			})
	}

	getVersions() {
		axios.get('http://192.168.43.139:8081/Task/GetVersions/' + this.task.id)
			.then(response => {
				console.log(response)
				this.versions = response.data as TaskData[]
				console.log(this.versions)
			})
	}

	toggleTable() {
		if (this.isTableShowing == true) {
			this.isTableShowing = false
			return
		}
		this.isTableShowing = true
	}

	getAllTaskInfos() {
		axios.get('http://192.168.43.139:8081/Task/GetNewestVersionsInfo/')
			.then(response => {
				console.log(response)
				this.taskMiniInfos = response.data as TaskMini[]
				console.log(this.versions)
			})
	}

	addChapter(task: TaskData) {
		task.chapters.push(new Chapter)
		this.updateEnumeration()
	}

	removeChapter(chapter: Chapter) {
		this.task.chapters = this.task.chapters.filter(obj => obj !== chapter)
		this.updateEnumeration()
	}

	addSection(chapter: Chapter) {
		chapter.sections.push(new Section)
		this.updateEnumeration()
	}

	removeSection(chapter: Chapter, section: Section) {
		chapter.sections = chapter.sections.filter(obj => obj !== section)
		this.updateEnumeration()
	}

	addBook() {
		this.task.books.push(new Book)
		this.updateEnumeration()
	}

	removeBook(book: Book) {
		this.task.books = this.task.books.filter(obj => obj !== book)
		this.updateEnumeration()
	}

	save() {
		axios.post("http://192.168.43.139:8081/Task/Save/", this.task)
			.then(response => {
				console.log(response)
				this.task.id = response.data as number
				this.getVersions()
			})
	}

	createNewTask() {
		axios.post('http://192.168.43.139:8081/Task/Create/')
			.then(response => {
				console.log(response)
				this.task = response.data as TaskData
				console.log(this.task)
				this.updateEnumeration()
				this.getVersions()
				if (this.isTableShowing) {
					this.getAllTaskInfos()
				}
			})
	}

	removeTask(id: number) {
		axios.delete('http://192.168.43.139:8081/Task/Remove/' + id)
			.then(response => {
				console.log(response)
				if (this.isTableShowing) {
					this.getAllTaskInfos()
				}
			})
	}

	updateEnumeration() {
		for (let i = 0; i < this.task.chapters.length; ++i) {
			this.task.chapters[i].position = i + 1
			for (let j = 0; j < this.task.chapters[i].sections.length; ++j) {
				this.task.chapters[i].sections[j].position = (i + 1) + "." + (j + 1)
			}
		}
		for (let i = 0; i < this.task.books.length; ++i) {
			this.task.books[i].position = i + 1
		}
	}

    makeDatePretty(dateView : string) : string {
        let parts = dateView.split(".")[0].split("T")
        let date = parts[0].split("-").reverse().join(".")
        return date + ", " + parts[1]
    }

	constructor() {
		super()
		this.getAllTaskInfos()
		this.isTableShowing = true
	}
}

class TaskData {
	id: number = -1
	name: string = ""
	description: string = ""
	theme: string = ""
	group: string = ""
	studentName: string = ""
	chapters: Chapter[] = []
	books: Book[] = []
	date: string = ""
	teacherName = ""
	guid: string = ""
	createdDate: string = ""
}

class Chapter {
	id: number = -1
	position: number = 0
	name: string = ""
	sections: Section[] = []
}

class Section {
	id: number = -1
	name: string = ""
	position: string = ""
	date: string = ""
	reportTypes: string = ""
}

class Book {
	id: number = -1
	position: number = 0
	name: string = ""
	description: string = ""
}

class TaskMini {
	id: number = -1
	theme: string = ""
	studentName: string = ""
	teacherName: string = ""
	date: string = ""
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table {
	width: 80%;
}
a {
  color: #3333ff;
  font-family: helvetica;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: black;
}
</style>
