<template>
	<div id="app">
		<header>
			<h1>RWMS</h1>
		</header>
		<nav>
			<JqxMenu>
				<ul>
					<li
						v-for="item in menuItems"
						:key="item"
					>
						<a @click="changeMenuItem(item)">{{item}}</a>
					</li>
				</ul>
			</JqxMenu>
		</nav>
		<main>
			<Distribution v-if="currentMenuItem === 'Распределение'"></Distribution>
			<Task v-if="currentMenuItem === 'Задание'"></Task>
			<RSPZ v-if="currentMenuItem === 'РСПЗ'"></RSPZ>
			<PZ v-if="currentMenuItem === 'ПЗ'"></PZ>
		</main>
		<footer>footer</footer>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import JqxMenu from "jqwidgets-scripts/jqwidgets-vue/vue_jqxmenu.vue";
import Distribution from "./components/Distribution.vue";
import Task from "./components/Task.vue";
import PZ from "./components/PZ.vue";
import RSPZ from "./components/RSPZ.vue";

@Component({
	components: {
		JqxMenu,
		Task,
		PZ,
		RSPZ,
		Distribution
	}
})
export default class App extends Vue {
	menuItems: string[] = [
		"Распределение",
		"Рецензии",
		"Задание",
		"РСПЗ",
		"ПЗ",
		"Новости"
	];
	currentMenuItem: string = "";
	changeMenuItem(item: string) {
		console.log(item);
		this.currentMenuItem = item;
	}
}
</script>

<style>
body {
	margin: 0px;
	font-family: arial, sans-serif;
}
header {
}
nav {
}
main {
	padding: 10px;
}
footer {
}
#app {
	display: grid;
	grid-template-areas:
		"header"
		"nav"
		"main"
		"footer";
}
#app > header {
	grid-area: header;
}
#app > nav {
	grid-area: nav;
}
#app > main {
	grid-area: main;
}
#app > footer {
	grid-area: footer;
}

.headerTitle {
	font-size: 16pt;
	font-weight: bold;
}
.rwmsButton {
	margin: 2px;
	font-size: 12px;
	width: 100px;
	height: 35px;
}
.rwmsHeaderEditor {
	width: 90%;
	height: 45px;
	border-width: 1px;
	border-radius: 10px;
	font-size: 20pt;
	padding: 5px;
	text-align: center;
	margin: 0 5%;
}
.complexContent {
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	width: 80%;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: rgb(200, 200, 200);
}
.rwmsDefaultTextEditor {
	width: 90%;
	max-width: 90%;
	min-width: 90%;
	min-height: 20pt;
	font-size: 14pt;
	margin: 0 5%;
	font-family: inherit;
	padding: 5px;
	border-width: 1px;
	border-radius: 10px;
}
.rwmsLineEditor {
	width: 90%;
	height: 40px;
	font-size: 14pt;
	margin: 5px 5%;
	padding: 5px;
	border-width: 1px;
	border-radius: 10px;
}
.rwmsBorderedBig {
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	background-color: rgb(230, 230, 230);
	padding: 10px;
	margin: 10px 20px;
}
.rwmsPageMenuButton {
	width: auto;
	margin: 2px;
	font-size: 12px;
	height: 40px;
}
</style>

<style>
@import url(https://unpkg.com/katex@0.11.1/dist/katex.min.css);
</style>
<style src='./assets/styles/jqwidgets/jqx.base.css'></style>